

task-list {
    min-width: 300px;
}

mat-card {
    min-height: 30vh;
}

mat-card:empty {
    display: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 0 30px;
}

mat-expansion-panel {
    background-color: white;
    margin: 0 auto;
    width: 100%;
    // max-width: 400px;
    display: block;
    margin-bottom: 10px;

    mat-panel-title {
        color: lightgreen;
    }
}

.tittle {
    text-align: center;
}



