<!-- Notes -->
    <mat-tab-group dynamicHeight >
        <mat-tab>
                <ng-template mat-tab-label>
                        <button mat-icon-button>
                   <mat-icon>notes</mat-icon>
                 </button>
             </ng-template>
            <ng-template matTabContent>
                <form  [formGroup]="form" (ngSubmit)="submit(form)">
                    <mat-form-field>
                        <input matInput formControlName="title" autocomplete="off" placeholder="Title">
                        </mat-form-field>
                        <mat-form-field>
                        <input matInput formControlName="description" autocomplete="off" placeholder="Description">
                    </mat-form-field>
                    <mat-dialog-actions>
                        <button mat-raised-button type="submit">Add</button>
                        <button mat-raised-button type="button" mat-dialog-close>Cancel</button>
                    </mat-dialog-actions>
                </form>
            </ng-template>
        </mat-tab>
<!-- / Notes -->

<!-- Camera -->
        <mat-tab>
            <ng-template mat-tab-label>
                       <button (click)="initCamera()" mat-icon-button>
                  <mat-icon>camera</mat-icon>
                </button>
            </ng-template>
            <div>
                <video [hidden]="!captureState" #videoElement ></video>
                <button id="captureBtn" [hidden]="!captureState"  (click)="capture()">
                <mat-icon id="captureIcon">camera</mat-icon>
                </button>
                <canvas [hidden]='captureState' #canvas id="canvas" width="480" height="480"></canvas>
            </div>

                    <form [hidden]="captureState" [formGroup]="form" (ngSubmit)="submitImage(form)">
                    <mat-form-field>
                        <input matInput formControlName="title" autocomplete="off" placeholder="Title">
                        </mat-form-field>
                        <mat-form-field>
                        <input matInput formControlName="description" autocomplete="off" placeholder="Description">
                    </mat-form-field>
                    <mat-dialog-actions>
                        <button mat-raised-button type="submit">Add</button>
                        <button mat-raised-button type="button" mat-dialog-close>Cancel</button>
                    </mat-dialog-actions>
                </form>
        </mat-tab>
   <!-- /Camera -->

   <!-- Audio -->
        <mat-tab>
            <ng-template mat-tab-label>
                <button  mat-icon-button>
                    <mat-icon>mic</mat-icon>
                  </button>
            </ng-template>
            <audio #audioPlayer controls (click)='initAudio()'></audio>
            <button mat-button (click)='submitAudio()'>Submit</button>
        </mat-tab>
      </mat-tab-group>

