
<mat-dialog-content>
    <ng-container >
        <video [hidden]="!captureState" #videoElement ></video>
        <img src="{{image}}" alt="">
            <button id="captureBtn" [hidden]="!captureState"  (click)="capture(canvas)">
                  <mat-icon>camera</mat-icon>
                </button>
                <canvas #canvas id="canvas" width="640" height="480"></canvas> 
    </ng-container> 
  </mat-dialog-content>

    <form [hidden]="captureState" [formGroup]="form" (ngSubmit)="submit(form)">
    
        <mat-form-field>
            <input matInput formControlName="title" autocomplete="off" placeholder="Title">
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="description" autocomplete="off" placeholder="Description">
        </mat-form-field>
        <mat-dialog-actions>
            <button mat-raised-button type="submit">Add</button>
            <button mat-raised-button type="button" mat-dialog-close>Cancel</button>
        </mat-dialog-actions>          
    </form>




