
      
          <div id="menu">
                  <div class="menu-item">
                          <!-- <h1>To Do App</h1> -->
                          <li><a routerLink = '/to-do'>To Dp App</a></li>
                  </div>
                  <div class="menu-item">
                          <!-- <h1>Scheduler</h1> -->
                          <li><a routerLink = '/notes'>Notes</a></li>
                  </div>
                  <div class="menu-item">
                      <li><a [routerLink] = "['/scheduler']">Scheduler</a></li>
                  </div>
                  <div class="menu-item">
                      <li><a>To Dp App</a></li>
                  </div>
              </div>

             
 