done-list {
    width: 100%;
}

.mat-row {
    background-color: aliceblue !important;
}

mat-card {
    padding-bottom: 0;
    padding-left:0;
    padding-right: 0;
}

mat-expansion-panel {
    background-color: white;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-bottom: 0;
}

/deep/.mat-expansion-panel-body {
    padding:0 !important;
}

mat-panel-description {
    margin:0 !important;
}

mat-panel-title {
    color: cornflowerblue;
    align-items: center;
    justify-content: space-between;
    padding-top: 4px;
}

.doneColor {
    background-color: lightcyan;
}

table {
    width: 100%;
}



