<mat-accordion >
  <mat-expansion-panel (close)='state' hideToggle="false" >
    <mat-expansion-panel-header>
      <mat-panel-title>
          <h2>Take a note:</h2>      
      </mat-panel-title>
    </mat-expansion-panel-header >
    <mat-tab-group >
        <mat-tab label="Notes">
          <form >
            <mat-form-field>
                <input matInput [(ngModel)]="titleValue" autocomplete="off" placeholder="Title" name="title">
              </mat-form-field>
              <mat-form-field>
                <input matInput [(ngModel)]="noteValue" autocomplete="off" placeholder="Note" name="note">
              </mat-form-field>
              <button [disabled] = 'titleValue === "" ' mat-button (click)='submit()'>Add</button>
              <button mat-button type="button" mat-dialog-close>Cancel</button>
          </form>
        </mat-tab>
        
        <mat-tab>
          <ng-template mat-tab-label>
              <button (click)="openCameraDialog()" mat-icon-button>
                  <mat-icon>camera</mat-icon>
                </button>
          </ng-template>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <button (click)="openAudioDialog()" mat-icon-button>
                    <mat-icon>mic</mat-icon>
                  </button>
            </ng-template>
        </mat-tab>
      </mat-tab-group>
  </mat-expansion-panel>
</mat-accordion>





  