mat-expansion-panel {
    width: fit-content;
}

mat-expansion-panel-header {
    height: inherit !important;
}

mat-form-field {
    width: 100%;
}

mat-panel-title {
    align-items: center;
    justify-content: space-between;
}

mat-tab-group {
    max-width: 500px;

}

mat-icon-button {
    margin: 0 auto;
}


