<!-- 
  
<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
    <mat-sidenav-content>
          
        </mat-sidenav-content>
  </mat-sidenav-container> -->


  <mat-drawer-container class="example-container">
        <mat-drawer mode="side" closed >
            <mat-list>
                    <mat-list-item> <a routerLink = '/'>Home</a></mat-list-item>
                    <mat-list-item> <a routerLink = '/to-do'>To Do App</a></mat-list-item>
                    <mat-list-item> <a routerLink = '/scheduler'>Scheduler</a></mat-list-item>
            </mat-list>
        </mat-drawer>
        <mat-drawer-content>
                <router-outlet></router-outlet>
        </mat-drawer-content>
      </mat-drawer-container>
      
