

<mat-card [@itemAnim] >
    <mat-card-content> 
        <button id="primaryBtn" mat-raised-button color="primary" (click)='openNotesDialog()'>New Note</button>   
      <mat-list id="notes">    
          <li *ngFor='let note of notes; let i = index' id='note'>
              <div class="titleDesc">
                  <h4>{{note.note.title}}</h4>
                  <p>{{note.note.description}}</p>
                  <div class="currentDay">
                    <p>{{currentDay}}</p>
                    <button class="clrButton" mat-icon-button (click) = 'deleteNote(i)'>
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
          </li>
      </mat-list>
    
      <mat-list id="images">
          <li *ngFor='let img of images; let i =index ' id='image'>
              <img  src="{{img.image}}" alt="">
              <div class="titleDesc">
                  <h4>{{img.desc.title}}</h4>
                  <p>{{img.desc.description}}</p>
                  <div class="currentDay">
                    <p>{{currentDay}}</p>
                    <button class="clrButton" mat-icon-button (click) = 'deleteImage(i)'>
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
          </li>
      </mat-list>

      <mat-list id="audio">
          <li *ngFor='let audio of audioArray; let i =index '>

              <audio  id="audio" controls >
                  <source id="source" [src]="domSanitizer.bypassSecurityTrustUrl(audio) 
                  " type="audio/ogg"/>
              </audio>
          </li>
          
      </mat-list>   
</mat-card-content>
</mat-card>

