<mat-card>
    <mat-card-header>
        <mat-card-title>
                <h1>Notes</h1>
        </mat-card-title>
    </mat-card-header>
     
    <mat-card-content>      
    <li [matMenuTriggerFor]="menu" id="notes" *ngFor="let file of files; let i = index">
        {{file.name}}
        <!-- {{imgArray.name}} -->
        <mat-menu  #menu="matMenu">
        <ng-template matMenuContent>
            <button (click) = 'openDialog(file)' mat-menu-item>Edit</button>
            <button (click) = 'deleteNote(i)' mat-menu-item>Delete</button>
        </ng-template>
        </mat-menu>
    </li>
    <li *ngFor='let image of imgArray; let i = index'>
        <img width='300px' [src]="'/assets/img/' + image.name"  alt="">
    </li>
    <button  id="clr" mat-raised-button (click) = 'clearAll()'>Clear All</button>
    </mat-card-content>
    <mat-card-footer >
      <button id="footerBtn" mat-button (click)="openDialog()">Take a note:</button>
         <div>
            <label for="image_uploads"><mat-icon>camera</mat-icon></label>
            <input type="file" accept="image/*"  id="image_uploads" (change)="onFileSelected($event)">
         </div>
    </mat-card-footer>
</mat-card>

